<template>
  <div>
    <div id="wrapper">
      <div id="left">
        <ul class="navi">
          <li><a v-bind:class="{ active: activeScene == 'mug' }" @click="activateScene('mug')">Photo Mug</a></li>
          <li><a v-bind:class="{ active: activeScene == 'case' }" @click="activateScene('case')">Galaxy Case</a></li>
          <li><a v-bind:class="{ active: activeScene == 'wallartRoom' }" @click="activateScene('wallartRoom')">Wallart with Room</a></li>
          <li><a v-bind:class="{ active: activeScene == 'canvasSpotlight' }" @click="activateScene('canvasSpotlight')">Canvas Spotlight</a></li>
          <li><a v-bind:class="{ active: activeScene == 'wallartGenerator' }" @click="activateScene('wallartGenerator')">Wallart Generator</a></li>
        </ul>
      </div>
      <div id="right">
        <div class="buttons top">
          <div v-if="activeScene=='mug'">
            <button @click="randomizeMugColor">Randomize Mug Style</button>
          </div>
          <div v-if="activeScene=='wallartGenerator'">
            <div>
              Type: <select v-model="wallart.type">
                <option value="canvas">Canvas</option>
                <option value="alu">Alu</option>
                <option value="alu_white">Alu auf Weiss</option>
                <option value="acryl">Acryl</option>
                <option value="forex">Forex</option>
              </select>
              Bleed/Wrap: <input type="number" v-model.number="wallart.bleed" />
              Net Size: <input type="number" v-model.number="wallart.width" /> x <input type="number" v-model.number="wallart.height" /> mm
              <button @click="generateNewWallart">Apply</button>
            </div>
          </div>
        </div>
        <div class="buttons bottom">
          <div>
            <button @click="changeEnvironment('kitchenhdr', 1024)"> Kitchen HDR 1024 @ 1024</button>
            <button @click="changeEnvironment('kitchenhdr1024', 256)">Kitchen HDR 1024 @ 256</button>
            <button @click="changeEnvironment('kitchenhdr512', 128)">Kitchen HDR 512 @ 128</button>
            <button @click="changeEnvironment('kitchenhdr256', 64)">Kitchen HDR 256 @ 64</button>
          </div>
          <div>
            <button @click="changeEnvironment('canyonEnv')">Canyon ENV</button>
            <button @click="changeEnvironment('cityEnv')">City ENV</button>
            <button @click="changeEnvironment('cityDds')">City DDS</button>
            <button @click="changeEnvironment('studioEnv')">Studio ENV</button>
            <button @click="changeEnvironment('nightEnv')">Night ENV</button>
            <button @click="changeEnvironment('forestEnv')">Forest ENV</button>
          </div>
          <div>
            <button @click="changeEnvironment('skyboxJpg')">Skybox JPG</button>
            <button @click="changeEnvironment('kitchenJpg')">Kitchen JPG</button>
          </div>
          <div>
          </div>
        </div>
        <canvas id="renderCanvas"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import * as BABYLON from 'babylonjs'
import 'babylonjs-loaders'
import { lightningTalkScene } from './../scenes/lightningTalk'
import { mugScene } from './../scenes/mug'
import { caseScene } from './../scenes/case'
import { wallartRoomScene } from './../scenes/wallartRoom'
import { canvasSpotlightScene } from './../scenes/canvasSpotlight'
import { wallartGeneratorScene } from './../scenes/wallartGenerator'

export default {
  name: 'BabylonJS',
  mixins: [ lightningTalkScene, mugScene, caseScene, wallartRoomScene, canvasSpotlightScene, wallartGeneratorScene ],
  data () {
    return {
      camera: {},
      wallart: {
        meshes: {
          wallart: {},
          glass: {}
        },
        width: 1000,
        height: 1000,
        bleed: 30,
        type: 'canvas',
        depth: 30
      },
      activeScene: null,
      canvas: null,
      scene: null,
      engine: null
    }
  },
  mounted () {
    document.getElementById('renderCanvas').addEventListener('contextmenu', function (e) {
      if (e.button === 2) { e.preventDefault() }
    })

    this.canvas = document.getElementById('renderCanvas')
    this.canvas.width = document.getElementById('right').offsetWidth
    this.canvas.height = document.getElementById('right').offsetHeight
    this.engine = new BABYLON.Engine(this.canvas, true, {preserveDrawingBuffer: true, stencil: true})
    this.scene = this.createScene()
    var that = this

    this.engine.runRenderLoop(function () {
      that.scene.render()
    })

    window.addEventListener('resize', function () {
      that.canvas.width = document.getElementById('right').offsetWidth
      that.canvas.height = document.getElementById('right').offsetHeight
      that.engine.resize()
    })
  },
  methods: {
    createScene () {
      var scene = new BABYLON.Scene(this.engine)
      var camera = new BABYLON.ArcRotateCamera('Camera', 0, 0, 10, BABYLON.Vector3.Zero(), scene)
      camera.useAutoRotationBehavior = true
      return scene
    },
    activateScene (target) {
      this.activeScene = target
    },
    initBabylon () {
      document.getElementById('renderCanvas').addEventListener('contextmenu', function (e) {
        if (e.button === 2) {
          // Block right-click menu thru preventing default action.
          e.preventDefault()
        }
      })
    },
    back () {
      this.$router.push({name: 'Dashboard'})
    },
    changeEnvironment (envKey, envRes) {
      this.applyEnv(this.scene, envKey, envRes)
    },
    applyEnv (scene, envKey, envRes = 256) {
      var envTexture

      if (envKey.startsWith('kitchenhdr')) {
        if (envKey.endsWith('kitchenhdr')) envTexture = new BABYLON.HDRCubeTexture('./../../static/textures/kitchen.hdr', scene, envRes)
        if (envKey.endsWith('1024')) envTexture = new BABYLON.HDRCubeTexture('./../../static/textures/kitchen100.hdr', scene, envRes)
        if (envKey.endsWith('512')) envTexture = new BABYLON.HDRCubeTexture('./../../static/textures/kitchen50.hdr', scene, envRes)
        if (envKey.endsWith('256')) envTexture = new BABYLON.HDRCubeTexture('./../../static/textures/kitchen25.hdr', scene, envRes)
        envTexture.level = 0.3
        scene.imageProcessingConfiguration.exposure = 0.4
        scene.imageProcessingConfiguration.contrast = 1
      }

      if (envKey.endsWith('Env')) {
        if (envKey.startsWith('canyon')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/canyon.env', scene)
          scene.imageProcessingConfiguration.exposure = 1.5
        }
        if (envKey.startsWith('city')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/city.env', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
        if (envKey.startsWith('studio')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/studio.env', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
        if (envKey.startsWith('night')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/night.env', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
        if (envKey.startsWith('forest')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/forest.env', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
      }
      if (envKey.endsWith('Dds')) {
        if (envKey.startsWith('city')) {
          envTexture = new BABYLON.CubeTexture.CreateFromPrefilteredData('./../../static/textures/city.dds', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
      }
      if (envKey.endsWith('Jpg')) {
        if (envKey.startsWith('skybox')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/TropicalSunnyDay', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
        if (envKey.startsWith('kitchen')) {
          envTexture = new BABYLON.CubeTexture('./../../static/textures/kitchenCubePng/kitchen', scene)
          scene.imageProcessingConfiguration.exposure = 1
        }
      }
      scene.createDefaultSkybox(envTexture, true, 10000, 10)
    }
  },
  watch: {
    'activeScene': function (val) {
      this.scene.dispose()
      // this.engine.dispose()

      if (val === 'lightningTalk') this.applyLightningTalkScene()
      if (val === 'mug') this.applyMugScene('kitchenhdr1024', 256)
      if (val === 'case') this.applyCaseScene('kitchenhdr1024', 256)
      if (val === 'wallartRoom') this.applyWallartRoomScene()
      if (val === 'canvasSpotlight') this.applyCanvasSpotlightScene()
      if (val === 'wallartGenerator') this.applyWallartScene('kitchenhdr1024', 256)
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style>
  #wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  #left {
    width: 200px;
    min-width: 200px;
    height: 100%;
    background-color: #151515;
    box-sizing: border-box;
  }
  #left ul, #left ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #left ul {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #left ul li a {
    text-decoration: none;
    color: #c9c9c9;
    line-height: 32px;
    font-size: 14px;
    display:block;
    padding-left: 20px;
    padding-right: 20px;
  }
  #left ul li a.active {
    background-color: #292929;
    font-weight: 700;
  }
  #left ul li a:hover {
    background-color: #4b4b4b;
    color: #ececec;
    cursor: pointer;
  }
  #right {
    width: calc(100% - 200px);
    height: 100%;
    background-color:white;
    position: relative;
  }

  /* The animation code */
  @keyframes jump {
    0%   { left: 30px; }
    100%  { left: 40px; }

  }

  .arrow_box {
    position: absolute;
    top: 50px;
    left: 40px;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
    padding: 20px;
    color: white;
    font-weight: 700;
    max-width: 200px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    animation-name: jump;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 15px;
    margin-top: -15px;
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 21px;
    margin-top: -21px;
  }
  #right #marketing {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 160px;
    margin: auto auto;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.25);
  }
  #right #marketing h1,
  #right #marketing h2 {
    color: white;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
  }
  #right #marketing h1 {
    font-size: 90px;
    font-weight: 200;
  }
  #right #marketing h2 {
    font-size: 32px;
    font-weight: 500;
  }
  #right .buttons {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
  }
  #right .buttons.top {
    top: 20px;
  }
  #right .buttons.bottom {
    bottom: 20px;
  }
  #right .buttons.bottom div {
    margin-top: 10px;
  }
  #right .buttons button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #43ac6d;
    color: white;
    border: 0;
    padding: 7px 15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .1s ease-out;
    margin-left: 5px;
    margin-right: 5px;
  }
  #right .buttons button:hover {
    cursor: pointer;
    background-color: #2f9156;
  }
  #right .buttons button:focus {
    outline: none;
  }

  #right .buttons input,
  #right .buttons select {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 7px;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
  }

  #right .buttons .environment {
    margin-top: 10px;
  }

  canvas {
    display: block;
  }
  canvas:focus {
    outline: none;
  }
  #renderCanvas {
    touch-action: none;
  }

</style>
