<template>
  <div>
    <div class="buttons">
      <button id="back" @click="back()">Back</button>
      <button id="swapButton">Swap Texture!</button>
    </div>
    <canvas id="renderCanvas"></canvas>
  </div>
</template>

<script>
/* eslint-disable */
import * as BABYLON from 'babylonjs'
import 'babylonjs-loaders'

export default {
  name: 'MaterialTest',
  data () {
    return { }
  },
  mounted () {
    document.getElementById('renderCanvas').addEventListener('contextmenu', function (e) {
      if (e.button === 2) {
        // Block right-click menu thru preventing default action.
        e.preventDefault()
      }
    })

    var canvas = document.getElementById('renderCanvas')
    var swapButton = document.getElementById('swapButton')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
    var engine = new BABYLON.Engine(canvas, true, {preserveDrawingBuffer: true, stencil: true})

    var createScene = function () {
      var scene = new BABYLON.Scene(engine)
      
      // Camera Setup
      var camera = new BABYLON.ArcRotateCamera('Camera', -Math.PI / 1, Math.PI / 3.5, 10, BABYLON.Vector3.Zero(), scene)
      camera.wheelPrecision = 50;
      camera.lowerRadiusLimit = 3;
      camera.upperRadiusLimit = 10;
      camera.attachControl(canvas, true)
      
      // SETUP MATERIAL
      var pbr = new BABYLON.PBRMaterial("pbr", scene);
      pbr.albedoTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_baseColor.png", scene);
      pbr.emissiveTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_emissive.png", scene);
      pbr.emissiveIntensity = 100;
      pbr.bumpTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_normal.png", scene);
      pbr.ambientTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_occlusion.png", scene);
      pbr.metallicTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_roughnessMetallic.png", scene);
      pbr.useRoughnessFromMetallicTextureAlpha = false;
        pbr.useRoughnessFromMetallicTextureGreen = true;
      pbr.useMetallnessFromMetallicTextureBlue = true;
      pbr.reflectivityTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_specularGlossiness.png", scene);
      pbr.useMicroSurfaceFromReflectivityMapAlpha = true;
      pbr.microSurface = 1.0; // Let the texture controls the value 

      BABYLON.SceneLoader.ImportMesh("", "./../../static/bottleInline/", "WaterBottle.gltf", scene, function (newMeshes) {

        //MATERIAL FIXES
        pbr.forceNormalForward = true;
        pbr.backFaceCulling = false;

        pbr.albedoTexture.vScale = -1;
        pbr.emissiveTexture.vScale = -1;
        pbr.bumpTexture.vScale = -1;
        pbr.ambientTexture.vScale = -1;
        pbr.metallicTexture.vScale = -1;
        pbr.reflectivityTexture.vScale = -1;

        newMeshes[1].material = pbr;
        
        camera.target = newMeshes[0]
        newMeshes[0].scaling.y = 10;
        newMeshes[0].scaling.x = -10;
        newMeshes[0].scaling.z = 10;

        var e = scene.createDefaultEnvironment();
      });
      return scene
    }
    var scene = createScene()

    engine.runRenderLoop(function () {
      scene.render()
    })

    window.addEventListener('resize', function () {
      canvas.width = window.innerWidth
      canvas.height = window.innerHeight
      engine.resize()
    })

    swapButton.onclick = function() {
      var pbr = scene.meshes[1].material;
      pbr.albedoTexture = new BABYLON.Texture("./../../static/bottleInline/WaterBottle_baseColor_2.png", scene);
      pbr.albedoTexture.vScale = -1;
    };
  },
  methods: {
    back () {
      this.$router.push({name: 'Dashboard'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  canvas {
    display: block;
  }
  #renderCanvas {
    touch-action: none;
  }
  .buttons {
    position: absolute;
    top: 10px;
    left: 10px;
  }
</style>
