<template>
  <div>
    <div class="buttons">
      <button id="back" @click="back()">Back</button>
    </div>
    <canvas id="renderCanvas"></canvas>
  </div>
</template>

<script>
/* eslint-disable */
import * as BABYLON from 'babylonjs'
import 'babylonjs-loaders';

export default {
  name: 'MaterialTest',
  data () {
    return { }
  },
  mounted () {
    document.getElementById('renderCanvas').addEventListener('contextmenu', function (e) {
      if (e.button === 2) {
        // Block right-click menu thru preventing default action.
        e.preventDefault()
      }
    })

    var canvas = document.getElementById('renderCanvas')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
    var engine = new BABYLON.Engine(canvas, true, {preserveDrawingBuffer: true, stencil: true})

    var createScene = function () {
      var scene = new BABYLON.Scene(engine)
      
      // Camera Setup
      var camera = new BABYLON.ArcRotateCamera('Camera', -Math.PI / 1, Math.PI / 3.5, 10, BABYLON.Vector3.Zero(), scene)
      camera.wheelPrecision = 50;
      camera.lowerRadiusLimit = 3;
      camera.upperRadiusLimit = 10;
      camera.attachControl(canvas, true)

      BABYLON.SceneLoader.ImportMesh("", "./../../static/bottle/", "WaterBottle.gltf", scene, function (newMeshes) {

        camera.target = newMeshes[0]
        newMeshes[0].scaling.y = 10;
        newMeshes[0].scaling.x = -10;
        newMeshes[0].scaling.z = 10;

        var e = scene.createDefaultEnvironment();
      });
      return scene
    }
    var scene = createScene()

    engine.runRenderLoop(function () {
      scene.render()
    })

    window.addEventListener('resize', function () {
      canvas.width = window.innerWidth
      canvas.height = window.innerHeight
      engine.resize()
    })
  },
  methods: {
    back () {
      this.$router.push({name: 'Dashboard'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  canvas {
    display: block;
  }
  #renderCanvas {
    touch-action: none;
  }
  .buttons {
    position: absolute;
    top: 10px;
    left: 10px;
  }
</style>
